{% extends "pages/abstract/fk-base.html.twig" %}
{% block page_title %}Forgotten Password
				{% endblock %}
{% block content %}
	<div id="alerts"></div>
	<section class="mx-auto w-full ">
		<div class="justify-between mx-auto max-w-7xl mt-12 space-y-6 ">
			<div class="rounded-xl bg-gradient-to-r from-[#ACFC7A] via-[#9FF3A9] to-[#9CECD5] p-1 w-full sm:w-full md:w-3/4 lg:w-1/2 mx-auto shadow-lg">
				<div class="bg-gray-50 rounded-lg p-10">
					<h1 class="text-[#331E36] font-semibold text-4xl tracking-tight  w-full text-center" style="font-family: 'MangueiraSemiBold';">{{translate('PASSWORD.FORGOTTEN')}}</h1>
					<p class="login-box-msg mt-5">{{translate("PASSWORD.FORGET.EMAIL")}}</p>
					<div class="form-alerts" id="alerts-page"></div>
					<form id="request-password-reset" role="form" action="{{site.uri.public}}/account/forgot-password" method="post" class="flex flex-col space-y-5">
						{% include "forms/csrf.html.twig" %}
						<div class="flex flex-col space-y-2">
							<label class="text-gray-700" for="reset-form-email">{{translate("EMAIL")}}</label>
							<input type="text" name="email" placeholder="{{translate("EMAIL")}}" required="required" class="border border-gray-300 px-2 py-2 rounded-md" id="reset-form-email">
						</div>
						<button type="submit" class="px-4 py-2 rounded-md bg-[#331E36]  border border-[#331E36] text-white text-sm font-semibold uppercase tracking-wider w-full transition-colors duration-400 ease-in-out hover:bg-[#5a3560]">{{translate("PASSWORD.FORGET.EMAIL_SEND")}}</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- /.login-box-body -->
{% endblock %}

{% block scripts_page %}
	<!-- Include validation rules -->
	<script>
		{% include "pages/partials/page.js.twig" %}</script>

	<!-- Include page-specific JS bundle -->
	{{ assets.js('js/pages/forgot-password') | raw }}

{% endblock %}
